<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="dne">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Nantes m&eacute;tropole | Votre dossier immobilier</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0," />

		<link rel="shortcut icon" type="image/x-icon" href="http://www.nantes-developpement.com/favicon.ico" />

		 <link href="css/styles.css" rel="stylesheet" type="text/css" media="screen" />

		<link rel="stylesheet" media="screen and (min-width: 1px) and (max-width: 480px)" href="css/mobile-320-480.css" type="text/css" />

		<link rel="stylesheet" media="screen and (min-width: 481px) and (max-width: 990px)" href="css/mobile-480-768.css" type="text/css" />

		<link rel="stylesheet" href="/embed/built.css" />

	</head>
<body ng-controller="DNEController">
	<div id="page">
		<div id="wrapper">
			<div id="content">
				<div id="main">
					<div id="header">
						<h1 ng-show="!loaded">Chargement de votre dossier en cours ...</h1>
						<h1 ng-show="loaded">{{dossier.account.name}}</h1>
						<h2>votre dossier immobilier</h2>
					</div>
					<div class="image_header"><img src="images/landing/votre-dossier-immobilier-d-entreprise.jpg" alt="votre dossier immobilier" /></div>
					<div id="pdf_contact_header" class="mobile">
						<div id="bloc_pdf_header">
							<h4><a title="Télécharger le détail de vos offres" ng-href="{{pdfURL}}" class="telecharger_pdf" onclick="window.open(this.href); return false;"><em>Télécharger</em> le détail de vos offres</a></h4>
							<a title="Télécharger le détail de vos offres" ng-href="{{pdfURL}}" class="telecharger_pdf_image" onclick="window.open(this.href); return false;">
								<img src="images/landing/telechargement-pdf.png" alt="Télécharger votre dossier au format PDF" />
							</a>
							<hr class="clear" />
						</div>
						<div id="bloc_contact_header">
							<img ng-src="images/landing/{{dossier.assigned_user.id}}.jpg" alt="{{dossier.assigned_user.first_name}} {{dossier.assigned_user.last_name}}" />
							<h4>Votre contact</h4>
							<address>{{dossier.assigned_user.first_name}} <strong>{{dossier.assigned_user.last_name}}</strong><br/>
								<em>{{dossier.assigned_user.title}}</em>
								<span><a href="tel:{{dossier.assigned_user.phone_work}}" style="color: white;box-shadow: none;">{{dossier.assigned_user.phone_work}}</a></span>
								<br/>
								<span><a href="tel:{{dossier.assigned_user.phone_mobile}}" style="color: white;box-shadow: none;">{{dossier.assigned_user.phone_mobile}}</a></span>
							</address>
							<a ng-href="mailto:{{dossier.assigned_user.email1}}?subject=Demande%20d'informations">
								<img alt="Me contacter" src="images/landing/me-contacter.gif">
							</a>
							<hr class="clear">
						</div>
						<hr class="clear" />
					</div>
					<div id="cahier_charges" class="motif">
						<ul class="navigation">
							<li class="un active"><a href="#cahier_charges" title="Votre projet"><span>Votre projet</span></a></li>
							<li class="deux"><a href="#propositions" title="Propositions immobilières"><span>Propositions immobilières</span></a></li>
							<li class="trois"><a href="#services" title="Nos services"><span>Nos services</span></a></li>
							<li class="quatre"><a href="#territoire" title="Découverte du territoire"><span>Découverte du territoire</span></a></li>
							<li class="mobile demande_contact"><a ng-href="mailto:{{dossier.assigned_user.email1}}?subject=Demande%20d'informations" title="Demande de contact"><img alt="Demande de contact" src="images/landing/ico-contact-mel-mobile.gif"></a></li>
							<li class="mobile telephone demande_contact"><a href="tel:{{dossier.assigned_user.phone_work}}"  title="Contactez nous par téléphone"><img alt="Contactez nous par téléphone" src="images/landing/ico-contact-tel-mobile.gif"></a></li>
						</ul>
						<div class="inner">
							<div ng-bind-html="sanitizeSugarCRMValue(dossier.description)"></div>
						</div>
					</div>
					<div id="propositions" class="motif">
						<ul class="navigation">
							<li class="un"><a href="#cahier_charges" title="Votre projet"><span>Votre projet</span></a></li>
							<li class="deux active"><a href="#propositions" title="Propositions immobilières"><span>Propositions immobilières</span></a></li>
							<li class="trois"><a href="#services" title="Nos services"><span>Nos services</span></a></li>
							<li class="quatre"><a href="#territoire" title="Découverte du territoire"><span>Découverte du territoire</span></a></li>
							<li class="mobile demande_contact"><a ng-href="mailto:{{dossier.assigned_user.email1}}?subject=Demande%20d'informations" title="Demande de contact"><img alt="Demande de contact" src="images/landing/ico-contact-mel-mobile.gif"></a></li>
							<li class="mobile telephone demande_contact"><a href="tel:{{dossier.assigned_user.phone_work}}"  title="Contactez nous par téléphone"><img alt="Contactez nous par téléphone" src="images/landing/ico-contact-tel-mobile.gif"></a></li>
						</ul>
						<div class="inner">
							<h2><strong>{{offres.length}} offres immobilières</strong> sélectionnées pour votre entreprise </h2>
							<div id="map">
							</div>
							<div class="liste_offre">
								<ol>
									<li ng-repeat="offre in offres">
										<span class="chiffre">{{$index + 1}}</span>
										<strong>{{offre.label}}</strong>&nbsp;</li>
								</ol>
							</div>
						</div>
					</div>
					<div id="services" class="motif">
						<ul class="navigation">
							<li class="un"><a href="#cahier_charges" title="Votre projet"><span>Votre projet</span></a></li>
							<li class="deux"><a href="#propositions" title="Propositions immobilières"><span>Propositions immobilières</span></a></li>
							<li class="trois active"><a href="#services" title="Nos services"><span>Nos services</span></a></li>
							<li class="quatre"><a href="#territoire" title="Découverte du territoire"><span>Découverte du territoire</span></a></li>
							<li class="mobile demande_contact"><a ng-href="mailto:{{dossier.assigned_user.email1}}?subject=Demande%20d'informations" title="Demande de contact"><img alt="Demande de contact" src="images/landing/ico-contact-mel-mobile.gif"></a></li>
							<li class="mobile telephone demande_contact"><a href="tel:{{dossier.assigned_user.phone_work}}"  title="Contactez nous par téléphone"><img alt="Contactez nous par téléphone" src="images/landing/ico-contact-tel-mobile.gif"></a></li>
						</ul>
						<div class="inner">
							<div id="qui_sommes_nous" class="inactive onglet">
								<h2>Nantes Saint-Nazaire Développement <strong>facilite votre projet</strong></h2>
								<div class="colright">
									<h3>Ses missions</h3>
									<ul>
										<li>la prospection d'entreprises, d’investisseurs et de talents en France et à l’international,</li>
										<li>l’accueil et l’accompagnement d’entreprises, d’investisseurs et de talents sur le territoire,</li>
										<li>la coordination et la promotion du territoire pour les rencontres professionnelles,</li>
										<li>l’animation, la promotion et le marketing du territoire en France et à l’international.</li>
									</ul>
								</div>
								<div class="colleft">
									<h3>L'agence</h3>
									<p>Nantes Saint-Nazaire Développement est issue de la fusion le 1er janvier 2015 de Nantes Métropole Développement et de l'Agence internationale Nantes Saint-Nazaire. Elle a pour membres fondateurs Nantes Métropole, la Carène et la CCI Nantes Saint-Nazaire, et pour membres associés la Région Pays de la Loire, le Département de Loire-Atlantique et la Chambre des métiers de Loire-Atlantique.</p><br />
									<br />
									<br />
								</div>
								<hr class="clear" />
								<p>Présidée par Johanna Rolland, Nantes Saint-Nazaire Développement compte 22 collaborateurs.</p>
							</div>
							<div id="service" class="active onglet">
								<h2>Nantes Saint-Nazaire Développement <strong>facilite votre projet</strong></h2>
								<div class="colleft">
									<strong>Aide à la décision</strong><br/>
									<ul>
										<li>Installation de votre entreprise : mobilité des salariés, déménagement, démarches administratives, recrutement, planification...</li>
										<li>Présentation de l’agglomération nantaise
											<ul>
												<li><span>Chiffres clés (démographie, emploi, économie...)</span></li>
												<li><span>Secteurs d’activité</span></li>
												<li><span>Offre de formation</span></li>
												<li><span>Grands projets</span></li>
												<li><span>Vie quotidienne</span></li>
											</ul>
										</li>
										<li>Fonctionnement de l’économie locale (réseaux et clubs d’entreprises, structures d’accompagnement et dispositifs d’aides...)</li>
									</ul>
								</div>
								<div class="colright">
									<strong>Recherche immobilière</strong><br/>
									<ul>
										<li>Présentation des sites d’activités : entreprises présentes, transports, restauration, services de proximité</li>
										<li>Conseil sur le mode d’hébergement (bureau, centre d’affaires, local d’activité, pépinière, hôtel d’entreprises...)</li>
										<li>Propositions immobilières avec l’aide de nos partenaires commercialisateurs</li>
										<li>Visite guidée des sites identifiés sur la métropole Nantes Saint-Nazaire</li>
									</ul>							
								</div>
								<hr class="clear">
								<div class="colleft">
									<strong>Accompagnement des salariés</strong>
									<ul>
										<li>Présentation du territoire au sein de votre entreprise : cadre de vie, logement, déplacements, loisirs, scolarité...</li>
										<li>Organisation de visites « découverte » de la métropole</li>
										<li>Suivi individualisé des salariés et de leur famille</li>
										<li>Aide à la recherche de l’emploi du conjoint</li>
									</ul>
								</div>
								<div class="colright">
									<strong>Intégration locale</strong>
									<ul>
										<li>Communication sur l’implantation de votre entreprise </li>
										<li>Appui à vos besoins en recrutement</li>
										<li>Mise en relation avec les réseaux locaux</li>
										<li>Participation à des événements et rencontres entre dirigeants</li>
									</ul>
								</div>
								<hr class="clear">
							</div>
						</div>
						<ul class="nav_footer">
							<li><a class="inactive" href="#service">Nos services</a></li>
							<li class="active"><a href="#qui_sommes_nous" >Qui sommes-nous ?</a></li>
						</ul>
						<hr class="clear" />
					</div>
					<div id="territoire" class="motif">
						<ul class="navigation">
							<li class="un"><a href="#cahier_charges" title="Votre projet"><span>Votre projet</span></a></li>
							<li class="deux"><a href="#propositions" title="Propositions immobilières"><span>Propositions immobilières</span></a></li>
							<li class="trois"><a href="#services" title="Nos services"><span>Nos services</span></a></li>
							<li class="quatre active"><a href="#territoire" title="Découverte du territoire"><span>Découverte du territoire</span></a></li>
							<li class="mobile demande_contact"><a ng-href="mailto:{{dossier.assigned_user.email1}}?subject=Demande%20d'informations" title="Demande de contact"><img alt="Demande de contact" src="images/landing/ico-contact-mel-mobile.gif"></a></li>
							<li class="mobile telephone demande_contact"><a href="tel:{{dossier.assigned_user.phone_work}}"  title="Contactez nous par téléphone"><img alt="Contactez nous par téléphone" src="images/landing/ico-contact-tel-mobile.gif"></a></li>
						</ul>
						<div class="inner">
							<div class="contenu_article active onglet" id="attractivite">
								<div class="colleft">
									<h2>Une métropole <strong>attractive</strong></h2>
									<strong>Secteur tertiaire dynamique, socle industriel puissant, capacité créative : la métropole Nantes Saint-Nazaire attire entreprises et talents.</strong>
									<ul>
										<li>810 000 habitants</li>
										<li>150 000 habitants supplémentaires d’ici 2030 </li>
										<li>68 000 établissements</li>
										<li>400 000 emplois</li>
										<li>55 000 étudiants</li>
									</ul>
									<a href="http://www.nantes-just-imagine.com/fr/investing/entreprises-international" class="temoignage" title="Ils ont choisi Nantes Saint-Nazaire et ils témoignent" onclick="window.open(this.href); return false;">   Ils ont choisi Nantes Saint-Nazaire et ils témoignent</a>
								</div>
								<div class="colright">
									<a href="//www.youtube.com/embed/qbURiBaptUM" class="nyroModal" rel="gal">
										<img alt="S’implanter à Nantes Saint-Nazaire" width="265px" src="images/landing/visuel_video_dne.gif">
									</a>
									<div class="mobile" id="lecteur_mobile">
										<iframe width="260" height="195" src=" //www.youtube.com/embed/qbURiBaptUM" frameborder="0" allowfullscreen></iframe>
									</div>
									<strong>S’implanter à Nantes Saint-Nazaire</strong>
								</div>
								<hr class="clear">
							</div>
						</div>
						<hr class="clear" />
					</div>
				</div>
			</div>
			<div id="leftbar">
				<div class="inner">
					<h4><a title="Télécharger le détail de vos offres" ng-href="{{pdfURL}}" class="telecharger_pdf" onclick="window.open(this.href); return false;"><em>Télécharger</em> le détail de vos offres</a></h4>
					<a title="Télécharger le détail de vos offres" ng-href="{{pdfURL}}" class="telecharger_pdf_image" onclick="window.open(this.href); return false;">
						<img src="images/landing/telechargement-pdf.png" alt="Télécharger votre dossier au format PDF" />
					</a>
					<hr class="clear" />
				</div>
			</div>
			<div id="rightbar">
				<div class="mobile bg_layer"></div>
				<div id="bloc_contact">
					<img ng-src="images/landing/{{dossier.assigned_user.id}}.jpg" alt="{{dossier.assigned_user.first_name}} {{dossier.assigned_user.last_name}}" />
					<h4>Votre contact</h4>
					<address>{{dossier.assigned_user.first_name}} <strong>{{dossier.assigned_user.last_name}}</strong><br/>
						<em>{{dossier.assigned_user.title}}</em>
						<span><a href="tel:{{dossier.assigned_user.phone_work}}" style="color: white;box-shadow: none;">{{dossier.assigned_user.phone_work}}</a></span>
						<br/>
						<span><a href="tel:{{dossier.assigned_user.phone_mobile}}" style="color: white;box-shadow: none;">{{dossier.assigned_user.phone_mobile}}</a></span>
						<br/>
					</address>
					<a href="mailto:{{dossier.assigned_user.email1}}?subject=Demande%20d'informations">
						<img alt="Me contacter" src="images/landing/me-contacter.gif">
					</a>
					<ul>
						<li ng-repeat="network in socialnetworks[dossier.assigned_user.id]">
							<a class="{{network.id}}" title="{{network.title}}" href="{{network.url}}"></a>
						</li>
					</ul>
					<hr class="clear">
					<span class="mobile">Masquer</span>
				</div>
			</div>
			<hr class="clear" />
		</div>
		<div id="footer">
			<a href="http://www.nantes-developpement.com" title="www.nantes-developpement.com" onclick="window.open(this.href); return false;">Nantes Saint-Nazaire Développement</a> est un outil opérationnel au service des entreprises, créé et financé par la <a href="http://www.nantesmetropole.fr" title="www.nantesmetropole.fr" onclick="window.open(this.href); return false;">communauté urbaine	de Nantes</a>. Visiter nos sites <a href="http://www.nantes-developpement.com" title="www.nantes-developpement.com" onclick="window.open(this.href); return false;">www.nantes-developpement.com</a> | <a href="http://www.nantes-just-imagine.com" title="www.nantes-just-imagine.com" onclick="window.open(this.href); return false;">www.nantes-just-imagine.com</a> | <a href="http://www.nantes-developpement.com/formulaires/contactez-nous" title="Contacter Nantes M&eacute;tropole D&eacute;veloppement" onclick="window.open(this.href); return false;">Nous contacter</a>
		</div>
	</div>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA–']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

	<script type="text/javascript" src="/embed/built.js"></script>

	<script type="text/javascript" src="js/jquery.localScroll.min.js"></script>
	<script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
	<script type="text/javascript" src="js/jquery.rsv.js"></script>
	
	<script type="text/javascript" src="js/jquery.nyroModal.custom.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
	<script type="text/javascript" src="js/dne.js"></script>
</body>

</html>
